/* ---------------------------------------------------
  1. GENERAL STYLE
------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafbfc;
  color: #343a40;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

.bold {
  font-weight: 700;
}

.img--center {
  display: block;
  margin: 0 auto;
}

.txt--center {
  text-align: center;
}

.container {
  padding: 0 1em;
  margin-top: 5em;
}

.container__tool-icons {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

/* --------------------------------------------------------
  1.1. TYPOGRAPHY
---------------------------------------------------------- */

h1,
h2,
h3 {
  font-family: "Amatic SC", "Outfit", sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.25em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

h5 {
  font-size: 1.125em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

p {
  font-size: 1em;
  margin-bottom: 1.5em;
  max-width: 500px;
}

/* ---------------------------------------------------------
  1.2 ELEMENTS
----------------------------------------------------------- */

a:link,
a:visited {
  font-family: "Amatic SC", "Outfit", sans-serif;
  text-decoration: none;
  color: #e3fafc;
  font-size: 1.4em;
}

.btn__main:link,
.btn__main:visited {
  display: inline-block;
  background-color: #1864ab;
  padding: 8px 24px;
  border-radius: 20px 0;
  font-size: 1.2em;
  font-weight: 700;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-center {
  text-align: center;
}

.btn__main span {
  margin-right: 8px;
}

/* ---------------------------------------------------------
 2. NAVBAR
 -----------------------------------------------------------*/

.navtoggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.nav-item {
  display: none;
}

nav ul {
  list-style: none;
}

/* ---------------------------------------------------------
  3. HOMEPAGE
------------------------------------------------------------ */

/* ---------------------------------------------------------
  3.1 HERO SECTION
------------------------------------------------------------- */

.hero-img {
  background-image: url(../img/homepage/homepage__hero-background--XS.svg);
  height: 100vh;
  background-size: cover;
}

.container__relative {
  position: relative;
}

.hero--el1--XS {
  position: absolute;
  z-index: -1;
}

.hero--el1--S {
  display: none;
  position: absolute;
  z-index: -1;
}

.hero--el1--M {
  display: none;
  position: absolute;
  z-index: -1;
}

.hero--el1--L {
  display: none;
  position: absolute;
  z-index: -1;
}

.hero--el2 {
  position: absolute;
  top: 55vh;
  left: 2vh;
}

.hero--el3 {
  position: absolute;
  display: none;
}

.hero--el4 {
  position: absolute;
  top: 50vh;
  right: 2vh;
}

.hero-intro {
  position: absolute;
  text-align: center;
  background-image: url(../img/homepage/homepage__hero-circle--XS.svg);
  height: 343px;
  width: 343px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 94px;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text__hero {
  font-family: "Amatic SC", "Outfit", sans-serif;
  font-size: 1.125em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.typewriter-text {
  display: block;
  color: #1864ab;
  min-height: 56px;
}

/* -----------------------------------------------------------
 3.2 ABOUT SECTION
 ------------------------------------------------------------*/

#about {
  color: #e3fafc;
  position: relative;
  padding: 48px 16px;
  padding-bottom: 0;
}

#about::before {
  content: "";
  position: absolute;
  height: 85%;
  width: 110%;
  left: -10%;
  top: 0%;
  z-index: -1;
  background-color: #1098ad;
}

.container__about {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0 1em; */
}

#about h2 {
  position: relative;
  margin-bottom: 77px;
}

.heading-underline {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#about p {
  margin-left: auto;
  margin-right: auto;
}

.about-content {
  padding: 0 32px;
}

.homepage__about-text {
  position: relative;
}

.decoration__about--S {
  position: absolute;
  top: -29px;
  left: -29px;
}

.about-link {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  font-size: 20px;
}

.img__homepage-about--x1 {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  height: auto;
}

.decoration__about-img--right {
  display: none;
}

.deco__about-img--left {
  display: none;
}

/* ----------------------------------------------------------
  3.3 WORK
------------------------------------------------------------- */

#work {
  margin-top: 64px;
}

#work h2 {
  position: relative;
}

.filter__design-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 64px;
  list-style: none;
}

.filter__design-type li {
  font-family: "Amatic SC", "Outfit", sans-serif;
  border: solid 1px #868e96;
  border-radius: 100px;
  padding: 2px 16px;
  width: 103px;
  text-align: center;
}

.filter--active {
  color: #e3fafc;
  background-color: #1864ab;
}

.project-section {
  margin-top: 48px;
  padding: 0 16px;
}

.project-section p {
  margin-bottom: 16px;
}

.project-item {
  margin-top: 80px;
}

.background__project-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 10%;
}

.img__homepage--project {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.tags li {
  border: solid 1px #343a40;
  border-radius: 100px;
  display: inline-block;
  padding: 4px 16px;
  font-size: 0.8em;
}

.project-section .btn__main {
  margin-top: 48px;
}

